<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodex - Customer Profile</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static "fonts/material-icon/css/material-design-iconic-font.min.css" %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static "css/batman.css" %}">
</head>
<body>

<div class="main">

    <div class="container">
        <div class="signup-content">
            <form id="form" class="signup-form" role="form" action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Customer Profile</h2>
                <p class="desc">Enter Personal Details</p>
                <div class="form-group">
                    <input type="text" class="form-input" name="f_name" id="f_name" placeholder="First Name" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="l_name" id="l_name" placeholder="Last Name" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="phone" id="phone" placeholder="Contact Number"
                           required/>
                </div>
                <div class="select">
                    <select name="location" id="location" required>
                        <option value="">Select Location</option>
                        {% for x in locations %}
                            <option value="{{ x.0 }}">{{ x.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="addressline1" id="addressline1"
                           placeholder="Address Line 1" required/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="addressline2" id="addressline2"
                           placeholder="Address Line 2" required/>
                </div>


                {##}
                {#                    <div class="form-group">#}
                {#                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" required/>#}
                {#                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>#}
                {#                    </div>#}
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit submit" value="Sign up"/>
                </div>
            </form>
        </div>
    </div>

</div>

<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "js/batman.js" %}"></script>
</body>
</html>


{#{% extends 'webapp/base.html'%}#}
{#{% block title %}Register{% endblock %}#}
{#{% block body %}#}
{#<div class="container col-md-8">#}
{##}
{#    <div class="row">#}
{#        <div class="col-sm-10 col-md-6 col-md-offset-3">#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-body">#}
{#                    <br>#}
{#                    <br>#}
{#                    <h3><font size="5">Register for an Account</font></h3>#}
{#                    {% if error_message %}#}
{#                        <p><strong>{{ error_message }}</strong></p>#}
{#                    {% endif %}#}
{#                    <br>#}
{##}
{#                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">#}
{#                        {% csrf_token %}#}
{#                       {% include 'webapp/form_template.html' %}#}
{#                        #}
{#                        <div class="form-group">#}
{#                            <div class="col-sm-offset-2 col-sm-10">#}
{#                                <button type="submit" class="btn btn-success btn-lg">Submit</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{##}
{#                </div>#}
{#                #}
{#                <div class="panel-footer">#}
{#                    Already have an account? <a href="{% url 'login' %}">Click here</a> to log in.#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{##}
{#{% endblock %}#}